<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bem vindo! Neste site, vou responder algumas questões.</p>

    <btn>
      <form method="get" action="quest1">
        <button type="btn q1"> Questão 1</button>
      </form>
    </btn>
  </body>
</html>