<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/favicon.ico" />
    <nav>
    <div class="dropdown">
        <button class="dropbtn">Questões</button>
          <div class="dropdown-content">
            <form method="get" action="quest1">
              <button type="btn q1"> Questão 1</button>
            </form>
            <form method="get" action="quest2">
              <button type="btn q2"> Questão 2</button>
            </form>
            <form method="get" action="quest3">
              <button type="btn q3"> Questão 3</button>
            </form>
            <form method="get" action="quest4">        
              <button type="btn q4"> Questão 4</button>
            </form>
            <form method="get" action="quest5">
              <button type="btn q5"> Questão 5</button>
            </form>
        </div>
      </div>
    </nav>
  </head>
  <body>
    <main>
    <h1><%= title %></h1>
    <p>Bem vindo! Neste site, vou responder algumas questões propostas pela Kinvo.<br>
    Me chamo Júlio César Mussi, tenho 19 anos e estudo Engenharia da Computação.<br>
    Essas questões foram bem desafiadoras, por causa das minha limitações, mas, depois de estudar e praticar, sinto
    ter criado afinidade com HTML e CSS, e melhor ainda, tenho tomado gosto por esse trabalho.<br> 
    <a href="https://github.com/Volksfeld">
    <img border="0" alt="giticon" src="/images/GitHub-Mark-Light-120px-plus.png" width="100" height="100"></a> </p>
    </main>
    <footer>
      &copy; Júlio César Fonseca de Paula Mussi 2019
    </footer>
  </body>
</html>