<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <b>Como eu explicaria o que é BD para meu sobrinho de 8 anos?</b>
  <p style="text-align:center;"> - Banco de dados é como um gaveteiro. Se você for bem organizado, cada gaveta
  tem uma finalidade, ou seja, em cada gaveta você pode guardar um tipo de brinquedo. A primeira gaveta pode ser
  de carrinhos, a segunda de bonecos, a terceira de jogos. Ainda dentro dessas gavetas, você pode separar vários 
  quadradinhos, para, por exemplo, um para carros vermelhos, outro quadrado para carros azuis. Assim, fica muito
  mais fácil achar e usar seus brinquedos. Porém, no banco de dados de verdade, nós guardamos nomes, emials, senhas
  e coisas assim. Uma gaveta pra nomes, e dentro dela, os quadradinhos podem ser o tipo de usuário que foi cadastrado.</p> 
    
    <form method="get" action="/">
      <button type="btn h"> Home</button>
    </form>
   
  </body>
</html>
