<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <b>Celular para pessoas com deficiência visual.</b>
    <p style="text-align:center;">Para deficientes visuais, gostaria de ir além das plataformas de acessibilidade
    já existentes. Além dos áudios, o celular teria teclas laterais programáveis e um sistema de vibraçāo 
    inteligente, que pudesse simular a leitura em braile e principalmente, uma assistente virtual completamente
    eficiente, que pudesse auxiliar o defiente em tarefas mais básicas, e fosse autonoma o suficiente para saber
    , por exemplo, momentos oportunos para colocar o celular no silencioso sozinho.</p>
    
    <form method="get" action="/">
      <button type="btn h"> Home</button>
    </form>
    <form method="get" action="quest5">
      <button type="btn q5"> Questão 5</button>
    </form>
  </body>
</html>
