<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <b>O que você aprendeu ontem ou essa semana?</b>
    <p style="text-align: center;">Essa semana eu busquei aprender CSS, majoritariamente. Imagino que estilizar
    o site seja a parte mais difícil, ainda mais sem utilizar bootstrap. Entretanto, as frustrações dão um belo
gás. Também tenho me interessado pela bolsa e suas transações, especialmente day trade. </p>
    
      <form method="get" action="/">
        <button type="btn h"> Home</button>
      </form>
      <form method="get" action="quest2">
        <button type="btn q2"> Questão 2</button>
      </form>
  </body>
</html>
