<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <b>Algoritmo do rei.</b>
    <p style = "text-align:center;">Questao dificil, ja volto</p>
    <img src="/images/tabuleiro.jpg" alt="tabuleiro" height="380" width="400" />
    <pre>
      <code>
        p { color: red;}
        body {background-color: #eee;}
      </code>
    </pre>
    
    <form method="get" action="/">
      <button type="btn h"> Home</button>
    </form>
    <form method="get" action="quest4">
      <button type="btn q4"> Questão 4</button>
    </form>
  </body>
</html>
