body {
  padding: 200px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  background-color: #031118;
  background-image: url("/images/background.jpg");
  word-wrap: break-word;
  width: 1250px;
 
}

h1 {
  text-align: center;
  font-family: monospace; 
  font-size: 38px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px;
}

a {
  color: #00B7FF;
}

pre {
  font-size: 90%;
  line-height: 1.2em;
  font-family: "Courier 10 Pitch", Courier, monospace; 
  white-space: pre; 
  white-space: pre-wrap; 
  white-space: -moz-pre-wrap; 
  white-space: -o-pre-wrap; 
  text-align: left;
  position: relative;
  bottom: 300px;
  height:1%;
  width: 800px;
  display: block;
  clear: both;
  background-color: #000000ab;
  padding: 1em 1em;
  margin: auto 4px auto 4px;
}
button {
    
    background-color: #23116d; 
    border: none;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)

}
  button:hover {
    background-color: rgb(2, 8, 90);
    color: #000000;
  }

  /* Dropdown Button */
.dropbtn {
  background-color: #23116d;
  color: #000000;
  padding: 16px;
  font-size: 16px;
  border: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #23116d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: #23116d;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #107896;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #black;}

